{% extends 'product/base.html' %}

{% block title %} صفحه جزیئات محصول | مدیریت فروشگاه {% endblock %}

{% block ref_css %}
<style>
    .alert-error {
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
}
</style>

{% endblock ref_css %}



{% block content %}
<!-- Product section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6">
                {% include 'product/_messages.html' %}

                <img class="card-img-top mb-5 mb-md-0" src="{{ object.thumbnail.url }}" alt="{{ object.title }}"/>
                <!-- Gallery -->
                {% if object.galleries.all %}
                    <div id="gallery">
                        {% for gallery in object.galleries.all %}
                        <img src="{{ gallery.images.url }}" alt="{{ gallery.product.title }}" width="120" height="120">
                        {% endfor %}
                    </div>
                {% else %}
                        <p>این محصول هیچ گالری تصویری ندارد.</p>
                {% endif %}
            </div>
            <div class="col-md-6">
                <h1 class="display-5 fw-bolder">{{ object.title }}</h1>
                <div class="fs-5 mb-5">
                    {% if object.discount > 0 %}
                        <span class="text-decoration-line-through">{{ object.price }}</span>
                        <span>{{ object.discount }}</span>
                        {% else %}
                        <span>{{ object.price }}</span>
                    {% endif %}
                </div>
                <div class="fs-5 mb-5">
                    {% if object.stock_count > 0 %}
                        <span>تعداد موجود: {{ object.stock_count }}</span>
                        {% else %}
                        <span>تعداد موجود: تمام محصول</span>
                    {% endif %}
                </div>
                <div class="d-flex">
                    {% if object.stock_count > 0 %}
                        <form action="{% url 'order:add_to_cart' %}" method="post">
                            {%  csrf_token %}
                            {{ order_form.product_id }}
                            <div class="form-group">
                                <label for="{{ order_form.count.id_for_label }}">تعداد: </label>
                                {{ order_form.count }}
                            </div>
                            <button type="submit" class="btn btn-primary">اضافه کردن به سبد</button>
                        </form>
                    {% endif %}
                </div>
                <br>
                {{ object.text|safe }}
            </div>
        </div>
    </div>
</section>
{% endblock %}