{% extends 'product/base.html' %}

{% block title %} صفحه جزیئات محصول | مدیریت فروشگاه {% endblock %}

{% block content %}
<!-- Product section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6">
                <img class="card-img-top mb-5 mb-md-0" src="{{ object.thumbnail.url }}" alt="{{ object.title }}"/>
                <!-- Gallery -->
                {% if object.galleries.all %}
                    <div id="gallery">
                        {% for gallery in object.galleries.all %}
                        <img src="{{ gallery.images.url }}" alt="{{ gallery.product.title }}" width="120" height="120">
                        {% endfor %}
                    </div>
                {% else %}
                        <p>این محصول هیچ گالری تصویری ندارد.</p>
                {% endif %}
            </div>
            <div class="col-md-6">
                <h1 class="display-5 fw-bolder">{{ object.title }}</h1>
                <div class="fs-5 mb-5">
                    {% if object.discount > 0 %}
                        <span class="text-decoration-line-through">{{ object.price }}</span>
                        <span>{{ object.discount }}</span>
                        {% else %}
                        <span>{{ object.price }}</span>
                    {% endif %}
                </div>
                <div class="d-flex">
                    <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1"
                           style="max-width: 3rem"/>
                    <button class="btn btn-outline-dark flex-shrink-0" type="button">
                        <i class="bi-cart-fill me-1"></i>
                        Add to cart
                    </button>
                </div>
                <br>
                {{ object.text|safe }}
            </div>
        </div>
    </div>
</section>
{% endblock %}