{% extends 'product/base.html' %}

{% block title %} ایجاد محصول جدید | مدیریت فروشگاه {% endblock %}

{% block content %}
<!-- Product section-->
<section class="py-3">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h1 class="display-5 fw-bolder text-center text-info">ایجاد محصول جدید</h1>
                <hr>
                {% include 'product/_messages.html' %}
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="mb-3">
                        <label for="{{ form.title.id_for_label }}" class="form-label">عنوان محصول: </label>
                        {{ form.title }}
                        {{ form.title.errors }}
                    </div>
                        <div class="mb-3">
                            <label for="{{ form.text.id_for_label }}" class="form-label">توضحیات محصول: </label>
                            {{ form.text }}
                            {{ form.text.errors }}
                        </div>
                        <div class="col-12 col-md-6 mb-3">
                            <label for="{{ form.price.id_for_label }}" class="form-label">قیمت محصول: </label>
                            {{ form.price }}
                            {{ form.price.errors }}
                        </div>
                        <div class="col-12 col-md-6 mb-3">
                            <label for="{{ form.discount.id_for_label }}" class="form-label">قیمت با تخفیف محصول: </label>
                            {{ form.discount }}
                            {{ form.discount.errors }}
                        </div>
                        <div class="col-12 col-md-6 mb-3">
                            <label for="{{ form.image.id_for_label }}" class="form-label">تصویر محصول: </label>
                            {{ form.image }}
                            {{ form.image.errors }}
                        </div>
                        <div class="col-12 col-md-6 mb-3">
                            <label for="{{ form.stock_count.id_for_label }}" class="form-label">تعداد موجود محصول: </label>
                            {{ form.stock_count }}
                            {{ form.stock_count.errors }}
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success w-100">ذخیره</button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}