{% extends 'account/master.html' %} 

{% block title %}تایئد حساب کاربری | مدیریت فروشگاه{% endblock %} 


{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body text-center">
            <p class="text-primary">لینک تایئد نا معتبر می باشد.</p>
            <a href="#" class="btn btn-light btn-sm">بازگشت به خانه</a> |
            <a href="#" class="btn btn-info btn-sm">ورود به سایت</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
