{% extends 'product/base.html' %}

{% block title %} ساخت گالری برای محصولات | مدیریت فروشگاه {% endblock %}

{% block content %}
<!-- Product section-->
<section class="py-3">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h1 class="fw-bolder text-center text-info mb-5">ساخت گالری برای محصولات سایت</h1>
                <hr>
                {% include 'product/_messages.html' %}
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">

                        <div class="col-12 mb-3">
                            <label for="{{ form.product.id_for_label }}" class="form-label"> محصول مورد نظر انتخاب کنید: </label>
                            {{ form.product }}
                            {{ form.product.errors }}
                        </div>
                        <div class="col-12 mb-3">
                            <label for="{{ form.image.id_for_label }}" class="form-label">قیمت با تخفیف محصول: </label>
                            {{ form.image }}
                            <small class="text-form">شما میتوانید برای محصول خود چند تا عکس همزمان انتخاب کنید</small>
                            {{ form.image.errors }}
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary w-100">ذخیره</button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}