{% extends 'product/base.html' %}

{% block title %} لیست گالری ها | مدیریت فروشگاه {% endblock %}

{% block content %}
<!-- Product section-->
<section class="py-3">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h1 class="fw-bolder text-center text-info mb-5">همه ای گالیر ای های سایت</h1>
                <hr>
                {% include 'product/_messages.html' %}
                <ul class="list">
                    {% for gallery in object_list %}
                        <li class="mb-3">
                            <a href="{% url 'product:gallery_update' gallery.pk %}">{{ gallery }}</a> -
                            <a href="{% url 'product:gallery_delete' gallery.pk %}" class="btn btn-danger btn-sm">حذف کردن</a>
                            <a href="{% url 'product:gallery_update' gallery.pk %}" class="btn btn-primary btn-sm">حذف کردن</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock %}